@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Work Sans", sans-serif; */
*{
    margin:0;
    padding:0;
}
#about-us{

display: flex;
justify-content: center;
align-items: center;
}

.image{
  
  width: 50%;
}

.image .img{
    width:100%;
}

.info{
    width: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.info .title{
color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 38px;
font-weight: 700;
line-height: 51px;
letter-spacing: 0%;
text-align: center;
}
.info .subtitle{
color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 24px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0%;
 
opacity: 0.6; 
}

.info .border{
    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 25px;
font-weight: 600;
line-height: 30px;
letter-spacing: 0%;
box-sizing: border-box;
border-bottom: 1px solid rgba(16, 16, 16, 0.2);
border-top: 1px solid rgba(16, 16, 16, 0.2);
opacity: 0.7;
padding: 24px 8px 24px 8px;
margin-top:19px;
}

.imagere{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:25px;
    gap: 25px;
}

.imagere .img1{
    width:48px;
    height:42px;
}
